<form action="/search" method="GET">
            <div class="input-field">
                <input type="search" id="search" name="search" required>
                <label for="search" class="labelSearch label-icon">
                    <i class="fas fa-search"></i>
                </label>
                <i class="fas fa-times"></i>
            </div>
        </form>