<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>StoryBooks</title>
</head>
<body>
    {{>_add_btn}}
    {{>_header}}
     <div class="container" style="min-height:77vh">
        {{{ren messages}}}
        {{#if errors}}
         <ul id="validationErrors">
        {{#each errors}}
          <li>{{this.msg}}</li>
          {{/each}}
        </ul>
        {{/if}}
    {{{body}}}
    </div>
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          © 2023 Copyright Designed by Israel Johnson
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/super-build/ckeditor.js"></script>
    <script>
        // Materialize init
        M.Sidenav.init(document.querySelector('.sidenav'))
        M.FormSelect.init(document.querySelector('#status'))
    
        
        // set flash
      const msg = document.getElementById('messages')
      if(msg){
        const ul = msg.querySelectorAll('ul')

      ul.forEach((ul)=>{
        if(ul.className=='success'){
          const li =  ul.querySelectorAll('li')
           li.forEach((li)=>{
            M.toast({html:li.textContent, classes:'green'})
           })
        }else if(ul.className=='error'){
            const li =  ul.querySelectorAll('li')
           li.forEach((li)=>{
            M.toast({html:li.textContent, classes:'red darken',displayLength:5000})
           })
        }else{
            return ''
        }
      })
      }
      

// validation
      const err = document.getElementById('validationErrors')
      
      if(err){
       const msg = err.querySelectorAll('li')
       msg.forEach((msg)=>{
        M.toast({html:msg.textContent, classes:'red', displayLength:5000})
       })
      }
      
        // editor
        CKEDITOR.ClassicEditor.create(document.getElementById("body"), {
       // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
       toolbar: {
       items: [
       'findAndReplace', 'selectAll', '|',
       'heading', '|',
       'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
       'bulletedList', 'numberedList', 'todoList', '|',
       'outdent', 'indent', '|',
       'undo', 'redo',
       '-',
       'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
       'alignment', '|',
       'link', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
       'specialCharacters', 'horizontalLine', 'pageBreak', '|',
       'textPartLanguage', '|',
       'sourceEditing'
       ],
       shouldNotGroupWhenFull: true
       },
       // Changing the language of the interface requires loading the language file using the <script> tag.
       // language: 'es',
       list: {
       properties: {
       styles: true,
       startIndex: true,
       reversed: true
       }
       },
       // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
       heading: {
       options: [
       { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
       { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
       { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
       { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
       { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
       { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
       { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
       ]
       },
       // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
       placeholder: 'Write your story',
       // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
       fontFamily: {
       options: [
       'default',
       'Arial, Helvetica, sans-serif',
       'Courier New, Courier, monospace',
       'Georgia, serif',
       'Lucida Sans Unicode, Lucida Grande, sans-serif',
       'Tahoma, Geneva, sans-serif',
       'Times New Roman, Times, serif',
       'Trebuchet MS, Helvetica, sans-serif',
       'Verdana, Geneva, sans-serif'
       ],
       supportAllValues: true
       },
       // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
       fontSize: {
       options: [ 10, 12, 14, 'default', 18, 20, 22 ],
       supportAllValues: true
       },
       // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
       // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
       htmlSupport: {
       allow: [
       {
       name: /.*/,
       attributes: true,
       classes: true,
       styles: true
       }
       ]
       },
       // Be careful with enabling previews
       // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
       htmlEmbed: {
       showPreviews: true
       },
       // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
       link: {
       decorators: {
       addTargetToExternalLinks: true,
       defaultProtocol: 'https://',
       toggleDownloadable: {
       mode: 'manual',
       label: 'Downloadable',
       attributes: {
       download: 'file'
       }
       }
       }
       },
       // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
    
       // The "super-build" contains more premium features that require additional configuration, disable them below.
       // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
       removePlugins: [
       // These two are commercial, but you can try them out without registering to a trial.
       // 'ExportPdf',
       // 'ExportWord',
       'AIAssistant',
       'CKBox',
       'CKFinder',
      // 'EasyImage',
       // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
       // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
       // Storing images as Base64 is usually a very bad idea.
       // Replace it on production website with other solutions:
       // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
       // 'Base64UploadAdapter',
       'RealTimeCollaborativeComments',
       'RealTimeCollaborativeTrackChanges',
       'RealTimeCollaborativeRevisionHistory',
       'PresenceList',
       'Comments',
       'TrackChanges',
       'TrackChangesData',
       'RevisionHistory',
       'Pagination',
       'WProofreader',
       // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
       // from a local file system (file://) - load this site via HTTP server if you enable MathType.
       'MathType',
       // The following features are part of the Productivity Pack and require additional license.
       'SlashCommand',
       'Template',
       'DocumentOutline',
       'FormatPainter',
       'TableOfContents',
       'PasteFromOfficeEnhanced'
       ]
       })
    </script>
</body>
</html>